

spring:
  jpa:
    hibernate:
      ddl-auto: update
      dialect: org.hibernate.dialect.MySQLDialect
    show-sql: true
  datasource:
    url: "jdbc:mysql://localhost:3306/online_forum"
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

server:
  error:
    include-stacktrace: never
    include-message: always
springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui/index.html
    operations-sorter: method
  open-api:
    enabled: true
#  api-docs:
#    path: /info
#  swagger-ui:
#    path: /
#    operations-sorter: method
logging:
  level:
    root: ERROR
    org.springframework: ERROR
# Database Digital Ocean
#spring.datasource.url=jdbc:mysql://db-mysql-sgp1-32396-do-user-14399890-0.b.db.ondigitalocean.com:25060/defaultdb?ssl-mode=required
#spring.datasource.username=doadmin
#spring.datasource.password=AVNS_2Qoy0aUL7uzrOjTVjna


# config docker
#spring.datasource.url=${env:SPRING_DATASOURCE_URL}
#spring.datasource.username=${env:SPRING_DATASOURCE_USERNAME}
#spring.datasource.password=${env:SPRING_DATASOURCE_PASSWORD}

# Swagger_ui
#springdoc.api-docs.path=/info
#springdoc.swagger-ui.path=/
#springdoc.swagger-ui.operationsSorter=method